@using MyPortofolio.Resources

@{
    ViewData["Title"] = "Projects";
}

@section Styles {
    <link rel="stylesheet" href="~/css/projects.css" />
}

<section class="container py-5">
    <h1 class="mb-4">Mes projets</h1>

    <div class="row g-4">
        <div class="col-md-6">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Clan Manager</h5>
                    <p class="card-text">@Resources.ClanManager_Description</p>
                    <p class="card-text">@Resources.ClanManager_Features</p>
                    <p>
                        <span class="badge badge-csharp me-1">C#</span>
                        <span class="badge badge-dotnet me-1">.NET</span>
                        <span class="badge badge-sql me-1">SQL</span>
                        <span class="badge badge-mvc me-1">MVC</span>
                        <span class="badge badge-html me-1">HTML</span>
                        <span class="badge badge-blazor me-1">Blazor</span>
                        <span class="badge badge-bootstrap me-1">Bootstrap</span>
                        <span class="badge badge-css me-1">CSS</span>
                    </p>
                    <a href="https://clanmanager-rd.azurewebsites.net" class="btn btn-primary btn-sm" target="_blank">@Resources.Projects_Visit</a>
                    <a href="https://github.com/RolandDoyen/ClanManagerPublic" class="btn btn-outline-dark btn-sm" target="_blank">@Resources.Projects_Git</a>
                </div>
            </div>
        </div>
        <div class="w-100"></div>

        <div class="col-md-6">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">@Resources.API_Title</h5>
                    <p class="card-text">@Resources.API_Description</p>
                    <p>
                        <span class="badge badge-csharp me-1">C#</span>
                        <span class="badge badge-dotnet me-1">.NET</span>
                        <span class="badge badge-sql me-1">SQL</span>
                        <span class="badge badge-crud me-1">CRUD</span>
                        <span class="badge badge-json me-1">JSON</span>
                    </p>
                    <a href="https://moviesapi-rd.azurewebsites.net/swagger/index.html" class="btn btn-sm swagger-btn" target="_blank">@Resources.Swagger</a>
                    <a href="https://github.com/RolandDoyen/MoviesApiPublic" class="btn btn-outline-dark btn-sm" target="_blank">@Resources.Projects_Git</a>
                </div>
            </div>
        </div>
        <div class="w-100"></div>

        <div class="col-md-6">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">@Resources.WEB_Title</h5>
                    <p class="card-text">@Resources.WEB_Description</p>
                    <p>
                        <span class="badge badge-html me-1">HTML</span>
                        <span class="badge badge-js me-1">JavaScript</span>
                        <span class="badge badge-ajax me-1">AJAX</span>
                        <span class="badge badge-bootstrap me-1">Bootstrap</span>
                        <span class="badge badge-css me-1">CSS</span>
                    </p>
                    <a href="https://movies-rd.azurewebsites.net" class="btn btn-primary btn-sm" target="_blank">@Resources.Projects_Visit</a>
                    <a href="https://github.com/RolandDoyen/MoviesWebPublic" class="btn btn-outline-dark btn-sm" target="_blank">@Resources.Projects_Git</a>
                </div>
            </div>
        </div>
        <div class="w-100"></div>

        <div class="col-md-6">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Portfolio</h5>
                    <p class="card-text">@Resources.Portfolio_Description</p>
                    <p>
                        <span class="badge badge-csharp me-1">C#</span>
                        <span class="badge badge-dotnet me-1">.NET</span>
                        <span class="badge badge-html me-1">HTML</span>
                        <span class="badge badge-blazor me-1">Blazor</span>
                        <span class="badge badge-bootstrap me-1">Bootstrap</span>
                        <span class="badge badge-css me-1">CSS</span>
                    </p>
                    <a asp-controller="Home" asp-action="CV" class="btn btn-primary btn-sm">@Resources.ViewMyCV</a>
                    <a href="https://github.com/RolandDoyen/MyPortofolioPublic" class="btn btn-outline-dark btn-sm" target="_blank">@Resources.Projects_Git</a>
                </div>
            </div>
        </div>
    </div>
</section>